h1, h2 {
    font-weight: 300;
    font-family: 'Releway', sans-serif;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

*{
    box-sizing: border-box;
}


.al{
    display: flex;
    padding-bottom: 30px;
}

.wel1, .wel2{
    display: inline-block;
}

.wel1 {
    margin-left: 1%;
    width: 60%;
    height: 302px;
    border-radius: 20px;
    background-color: black;
}

.wel2 {
    width: 30%;
    height: 299px;
    border-radius: 20px;
    background-color: rgb(242, 231, 231);
    border: 2px solid black;
    margin-left: 3%;
}

.wel3{
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
    border-radius: 20px;
}

header{
    font-size: 2em;
    position: fixed;
    box-shadow: 0 2px 4px -2px black;
    left: 0;
    right: 0;
    padding: .5em 1em;
}

main{
    min-height: 124vh;  /* main secion's height */
    padding: 100px 24px 100px;  /*ეს არის სივრცე რომელშიც ჰედერი ჩანს, პადინგი მეინსა და დასაწყის შორის*/
    box-shadow: 0 0 12px -2px black;
    font-family: 'Open Sans', sans-serif;
}


/* fix social network photos and sizes */
footer{
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
}

/* media links size under the footer tag */
footer .media-link{
    height: 32px;
}


/* separate Social Network Logos from each other */
footer a{
    margin-right: 64px;
    text-decoration: none;
}


.links a.active{
    border-bottom: 1px solid black;
}

/* option bar design */
.pages a{
    border: 1px solid rgb(244, 190, 237);
    text-decoration: none;
    color: inherit;
    margin-left: .50em;
    padding: .20em;
    background-color: white;
}



/* option bar is aligned */
.pages{
    float: right;
    margin-right: 20%;
}

.name{
    margin-left: 5%;
    float:left;
    background-color: white;
    border: 1px solid rgb(244, 190, 237);
}

/* black short hovering lign under option bar */
.pages a.active {
    border-bottom: 1px solid black;
}